body {background-color: rgb(46, 85, 120);
width: 810px;
}
h1 {
    color: rgb(171, 216, 255);
    margin: 0 auto;
}
p {
    color: rgb(171, 216, 255);
}
#content {
    width: 800px;
    margin: 0 auto;
}
th {
    width: 150px; height: 50px; 
}
#About {
    background-image: url("myBackground.jpg");
    width: 810px;
    color:rgb(171, 216, 255)
}
th {
    width: 800px;
}